.container {
  width: 100%;
  display: grid;
  grid-template-columns: 35% 65%;
  height: inherit;
}

.leftSection {
  background-image: url("../../../assets/images/svg/authImg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: auto;
  width: 100%;
}

.rightSection {
  height: auto;
  width: 100%;
  margin-top: 5%;
  text-align: center;
}

.topSection {
  display: flex;
  justify-content: space-between;
}

.topSection :nth-child(2) {
  margin-right: 5%;
}

.loginSection {
  margin-top: 10%;
  width: 100%;
}

.loginSection :first-child {
  font-weight: 900;
  font-size: 25px;
}

.loginSection :nth-child(2) {
  font-weight: 400;
  font-size: 15px;
}

.formSection {
  margin-top: 5%;
  height: 50%;
}

.formInput {
  width: 100%;
  height: 100%;
}

.formSection input {
  width: 35%;
  height: 15%;
  border-radius: 10px;
  margin-bottom: 2%;
  padding: 0% 2%;
}

.pageButton {
  display: inline-block;
  background-color: #24243e;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  width: 40%;
  height: 16%;
  border-radius: 10px;
  margin-bottom: 2%;
  cursor: pointer;
  padding: 0% 2%;
}

.pageButton:hover {
  background-color: #403b6a;
}

.help {
  margin-left: 80%;
}

.signupSection {
  margin-top: 5%;
  width: 100%;
}

.signupSection :first-child {
  font-weight: 900;
  font-size: 25px;
}

.signupSection :nth-child(2) {
  font-weight: 400;
  font-size: 15px;
}

/* Validation  */
.error {
  font-size: 10px;
  color: red;
  padding: 0;
}
