/* The Dashboard Container */
.container {
  display: grid;
  grid-template-columns: 20% 80%;
  height: inherit;
}

li {
  list-style: none;
}

.link:hover {
  background-color: #1b426e;
  border: 1px solid #fff;
  padding: 10px;
}

/* The Aside Section */

.aside {
  background-color: #0f0c29;
  width: 100%;
  height: auto;
  margin-left: 0;
}

.navBars {
  margin-bottom: 20px;
}

.brand {
  margin: 10% 10%;
}

.nav li {
  margin: 20px 50px 0;
  font-size: 24px;
  font-weight: 900;
}

.container a {
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

hr {
  margin-bottom: 20%;
}

.footer {
  margin-top: 70%;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

/* The Home Page Content */
.homePage {
  width: 100%;
  height: 100%;
}

.homePageBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 15%;
  border-bottom: 1px solid #0f0c29;
  background-color: #29598f;
}

.searchBar {
  width: 40%;
  margin: 30px;
}

.searchBar input {
  width: 60%;
  height: 30px;
}

.searchButton {
  width: 60px;
  margin-left: 20px;
  height: 30px;
  border-radius: 10px;
  background-color: #0f0c29;
  color: #fff;
  font-weight: 600;
}

.searchButton:hover {
  background-color: #59599b;
}

.profile {
  display: flex;
  justify-content: space-between;
  margin: 15px 30px 0;
}

.imgBorder {
  width: 71px;
  height: 71px;
  border: 1px solid black;
  border-radius: 100%;
  background-color: #0f0c29;
}

.profileName {
  margin: 20px;
  font-weight: 500;
  font-size: 18px;
}

/* Home Articles */

.homeSection {
  width: 100%;
  height: auto;
}

.section {
  width: 100%;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  margin: 30px 35px 30px 30px;
}

.moreButton {
  width: 50px;
  height: 20px;
  background-color: #0f0c29;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
}

.moreButton:hover {
  background-color: #59599b;
}

/* Line Clamp style for Description */

.lineClamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Created StudyPlan */
.createSection {
  width: 95%;
  margin: 0 30px;
  display: grid;
  grid-template-columns: 20% 80%;
}

/* All Study Plans Styles */
.allStudyPlans {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.studyPlan {
  background-color: #1b426e;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
  color: #fff;
  text-align: center;
  width: 195px;
  height: 120px;
  font-size: 13px;
  border-radius: 10px;
  /* padding: 5px; */
}

.studyContent {
  margin-top: 10px;
}

.schedules {
  margin-top: 20px;
}

.addButton {
  width: 195px;
  height: 120px;
  background-color: #1b426e;
  color: #fff;
  border-radius: 10px;
}

.customIcon {
  width: 100px;
  height: 120px;
  font-size: 50px;
}

.addButton:hover {
  background-color: #59599b;
}

.error {
  color: red;
}
