/* CSS for Create Study Plan */

/* Study Plan Form */
.studyPlanForm {
  width: 100%;
  height: auto;
  margin: 5% 4% 4% 0%;
  text-align: center;
}

.formSecton {
  width: 100%;
  height: auto;
}

.formSection input,
.formSection textarea {
  border: 2px solid #0f0c29;
  background-color: #d9d9d9;
}

.titleForm {
  width: 80%;
  margin-bottom: 20px;
  padding: 1%;
}

textarea {
  width: 80%;
  padding: 1%;
}

.dateTimeSection {
  width: 100%;
}

.formDateTime {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 10px 55px;
}

.formDateTime label {
  margin-right: 10px;
  line-height: 35px;
}

.dateTimeSection input {
  width: 30%;
  height: 30px;
  padding: 1%;
  margin-right: 120px;
}

.createPlanSection {
  display: grid;
  grid-template-columns: 65% 35%;
  height: auto;
}

.createPlanSection h3 {
  font-weight: 900;
  color: #0f0c29;
  font-size: 25px;
  padding: 2%;
  text-align: center;
}

/* Create Study Plan Section */
.createPlan {
  width: 100%;
  height: auto;
}

.studyBar {
  height: 50px;
  border-bottom: 1px solid #0f0c29;
  background-color: #d9d9d9;
}

/* .studyBar h3 */

/*  Create Schedules Section */
.addScheduleForm h4 {
  color: #0f0c29;
  font-size: 19px;
  float: left;
  margin: 20px 0px 10px 60px;
}

/* View Schedule Section */
.scheduleSection {
  width: 100%;
  height: auto;
  text-align: center;
  border-left: 1px solid #0f0c29;
}
.scheduleBar {
  height: 50px;
  border-bottom: 1px solid #0f0c29;
  background-color: #d9d9d9;
}

/* Button Section */

.addSchedule {
  width: 30px;
  height: 30px;
  border: 2px solid #0f0c29;
  font-size: 20px;
}

.formButtons button {
  width: 60px;
  height: 30px;
  border-radius: 10px;
  background-color: #0f0c29;
  color: #fff;
  font-weight: 600;
  margin: 30px 130px;
}

.formButtons button:hover {
  background-color: #59599b;
}

/* Schedules Added */
.scheduleItem {
  width: 90%;
  margin: 10px;
  padding: 10px;
  border: 2px solid #0f0c29;
  background-color: #0f0c29;
  color: #fff;
}
