.pageTitle {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.pageTitle h4 {
  margin-left: 20px;
  font-size: 24px;
}

.pageTitle button {
  margin-right: 25px;
}

.addStudyPlan {
  width: 30px;
  height: 30px;
  border: 2px solid #0f0c29;
  font-size: 20px;
}

/* All Study Plans Styles */
.allStudyPlans {
  width: 97%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 0 15px;
}

.studyplan {
  background-color: #0f0c29;
  color: #fff;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}
